@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 4.7619% 12.3529%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 4.7619% 12.3529%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 4.7619% 12.3529%);
  --primary: hsl(221.2121 83.1933% 53.3333%);
  --primary-hover: hsl(221.2 83.2% 43.3%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(208.2353 7.2961% 45.6863%);
  --secondary-hover: hsl(208.2353 7.2961% 38%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(220 14.2857% 95.8824%);
  --muted-foreground: hsl(220 8.9362% 46.0784%);
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 72.2% 50.6%);
  --destructive-hover: hsl(0 72% 42%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(220 13.0435% 90.9804%);
  --input: hsl(221.2121 83.1933% 53.3333%);
  --ring: hsl(221.2121 83.1933% 53.3333%);
  --chart-1: hsl(221.2121 83.1933% 53.3333%);
  --chart-2: hsl(217.2 91.2% 59.8%);
  --chart-3: hsl(142.1 76.2% 36.3%);
  --chart-4: hsl(48 96% 60%);
  --chart-5: hsl(350 70% 50%);
  --sidebar: hsl(0 0% 100%);
  --sidebar-foreground: hsl(240 4.7619% 12.3529%);
  --sidebar-primary: hsl(221.2121 83.1933% 53.3333%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(220 14.2857% 95.8824%);
  --sidebar-accent-foreground: hsl(220 8.9362% 46.0784%);
  --sidebar-border: hsl(220 13.0435% 90.9804%);
  --sidebar-ring: hsl(221.2121 83.1933% 53.3333%);
  --font-sans: Prompt, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0rem;
  --shadow-blur: 0rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0;
  --shadow-color: transparent;
  --shadow-2xs: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0);
  --shadow-xs: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0);
  --shadow-sm: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
  --card: hsl(222.2 84% 6%);
  --card-foreground: hsl(210 40% 98%);
  --popover: hsl(222.2 84% 6%);
  --popover-foreground: hsl(210 40% 98%);
  --primary: hsl(226.2857 63.0631% 43.5294%);
  --primary-foreground: hsl(210 40% 98%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(222.2 84% 9%);
  --muted-foreground: hsl(215 20.4% 65%);
  --accent: hsl(222.2 84% 12%);
  --accent-foreground: hsl(210 40% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(222.2 84% 15%);
  --input: hsl(222.2 84% 9%);
  --ring: hsl(226.2857 63.0631% 43.5294%);
  --chart-1: hsl(226.2857 63.0631% 43.5294%);
  --chart-2: hsl(217.2 91.2% 59.8%);
  --chart-3: hsl(142.1 76.2% 36.3%);
  --chart-4: hsl(48 96% 60%);
  --chart-5: hsl(350 70% 50%);
  --sidebar: hsl(222.2 84% 6%);
  --sidebar-foreground: hsl(210 40% 98%);
  --sidebar-primary: hsl(226.2857 63.0631% 43.5294%);
  --sidebar-primary-foreground: hsl(210 40% 98%);
  --sidebar-accent: hsl(222.2 84% 12%);
  --sidebar-accent-foreground: hsl(210 40% 98%);
  --sidebar-border: hsl(222.2 84% 15%);
  --sidebar-ring: hsl(226.2857 63.0631% 43.5294%);
  --font-sans: Prompt, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0rem;
  --shadow-blur: 0rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0;
  --shadow-color: transparent;
  --shadow-2xs: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0);
  --shadow-xs: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0);
  --shadow-sm: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0), 0rem 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0rem 0rem 0rem 0rem hsl(0 0% 0% / 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  letter-spacing: var(--tracking-normal);
  font-family: var(--font-kanit), sans-serif;
}
